 for minify the project(get the onnx source from: https://github.com/microsoft/onnxruntime)
*.zip
*.tar.gz
*.gz
*.tar
*.tgz

# vscode cpyied from: https://github.com/github/gitignore/blob/main/Global/VisualStudioCode.gitignore
.vscode/*

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class